@mixin medidas ($width, $height){
    width: $width ;
    height: $height ;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
    
}
@mixin flex-row {
    display: flex;
    flex-direction:row
}
@mixin flex-reverse {
    display: flex;
    flex-direction: row-reverse;
}

